* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
/*( 코멘트 넣기 쉬프트8 + / ) */
body {
  background-color: linen;
  color: #333;
  font-size: 17;
  line-height: 1.5;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  color: black;
  line-height: 2;
}

.navbar {
  background-color: black;
  color: white;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a :hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
}

button {
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
}
button :hover {
  background-color: yellow;
  color: red;
}

.login-form {
  display: flex;
  background-color: #3e6f97;
  color: rgb(0, 0, 0);
  border: none;
  box-sizing: double;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 30px;
  text-shadow: 2px 2px 5px #30b874;
  justify-content: center;
  width: 400px;
  height: 240px;
  align-items: center;
}

.media {
  border-style: dashed;
  border-width: 1px;
  border-color: blue;
  border-radius: 5px;
  padding: 10px 0;
}

.timetable {
  box-sizing: border-box;
  border: 1px solid #00000000;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;
  background-color: #8d6ae459;
  border-collapse: collapse;
  border-collapse: separate; /* 꼭 필요! */
  border-spacing: 10px; /* 칸 사이 간격 설정 */
  margin: 20px auto;
}

.videocontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-origin: padding-box;
  background-clip: content-box;
  background-color: #b75787;
  border-radius: 5px;
  border: 1px solid #00000000;
  box-sizing: border-box;
  width: 100%;
}
.video-container .video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #00000000;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.SECON-container {
  box-sizing: border-box content-box;
  border: 1px dashed #000000c0;
  border-radius: 5px;
  padding: 100px;
  margin: 0 auto;
  background-color: #d1d1d1d5;
  flood-color: #d53b3b00;
  font-size: 20px;
  width: 1000px;
  height: 500px;
}
